
/* File: tree-nav.css */
 *{ margin: 0; padding: 0;}
.tree-nav {
  font-family: 'Quicksand', sans-serif; 
   width: 260px;
   height: 100%; /* for zombies browsers*/ 
   height: 100vh;   
   font-size: 15px;
   background: var(--background);
   overflow: scroll;
}

/* Color Scheme */
.tree-nav.default{
  --color: rgba(255, 255, 255, 0.75);
  --folder-color: rgb(230, 195, 0);
}

.tree-nav a {
   color: var(--color);
   text-decoration: none;
}
/* Custom Scrollbar For TreeNav */
.tree-nav::-webkit-scrollbar {
  width: 8px;
}

.tree-nav::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.tree-nav::-webkit-scrollbar-thumb {
  background: #888; 
}

.tree-nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tree-nav ul li{
   list-style: none;   
   position: relative;
    padding: 8px;
}
.tree-nav li ul li a:before{
   content: "—";
   margin-left: -5px;
}
.tree-nav li ul li {
border-left: 1px dotted var(--color);
margin-left: 32px;

}
.tree-nav li ul{
display: none;

}
/* Folder Icon Design */
.folder{
  cursor: pointer;

}
.folder:before{
   font-family: FontAwesome;
   content: "\f07b";
   color: var(--folder-color);
   margin-right: 5px;
   display: inline-block;
   padding: 3px;
}
.folder.open:before{
   content: "\f07c";
}
